@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de restablecimiento de clave";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revise su correo para restablecer la contraseña
    </p>

