@model IEnumerable<seguimiento.Models.Categoria>



@foreach (var item in Model)
{
    <a asp-controller="Categorias" asp-action="Details" asp-route-id="@item.id" title="@item.nombre" class="badge badge-pill badge-secondary">  @Html.DisplayFor(modelItem => item.numero)</a>
}


