@model seguimiento.Models.Categoria

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Categorías";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var listaDependencias = (SelectList)ViewBag.Responsables;
    var listaNiveles = (SelectList)ViewBag.Niveles;
    var listaCategorias = (SelectList)ViewBag.Categorias;
}

<h4>Nueva categoría</h4>
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>

    <div class="form-group row">
        <label asp-for="numero" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="numero" class="form-control" />
            <span asp-validation-for="numero" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="nombre" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="nombre" class="form-control" />
            <span asp-validation-for="nombre" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="idCategoria" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <select asp-for="idCategoria" asp-items="@listaCategorias" class="form-control">
                <option value="">Seleccione una opción</option>
            </select>
            <span asp-validation-for="idCategoria" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="idNivel" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <select asp-for="idNivel" asp-items="@listaNiveles" class="form-control">
                <option value="">Seleccione una opción</option>
            </select>
            <span asp-validation-for="idNivel" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="IdResponsable" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <select asp-for="IdResponsable" asp-items="@listaDependencias" class="form-control">
                <option value="">Seleccione una opción</option>
            </select>
            <span asp-validation-for="IdResponsable" class="form-text small text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Ponderador" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Ponderador" class="form-control" />
            <span asp-validation-for="Ponderador" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="texto" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="texto" class="form-control" />
            <span asp-validation-for="texto" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="objetivo" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="objetivo" class="form-control" />
            <span asp-validation-for="objetivo" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="nota" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="nota" class="form-control" />
            <span asp-validation-for="nota" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="unificacion" />
                <label asp-for="unificacion" class="custom-control-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>
</form>

