@{
    Layout = "";
}


<div class="widget col-md-@ViewBag.Ancho">
    <div class="Widget-title">
        <p class="margin-bottom-0">@ViewBag.Titulo</p>
    </div>
    <div class="Widget-body">
        @RenderBody()
    </div>
</div>

