<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">



    <title>SISTEMA DE SEGUIMIENTO</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <partial name="_colorMenuPartial" />


</head>
<body>
    <header <partial name="_imagenNavegacionPartial" />>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Basic"><partial name="_LogoPartial" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <partial name="_MenuHeaderPartial" />
            </div>
        </nav>
    </header>
    <div class="container bodyccs body-content container-reporte" id="bodycsss">
        <div class="row">
            <div class="col-md-12 div-contenido">

                <div class="row containerdetalle">
                    <div class="col-md-12" id="detalle">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>

        <hr />
        <footer>
            <p class="footer-text">
                &copy; @DateTime.Now.Year
                <br />

            </p>
        </footer>
    </div>

</body>

<partial name="_footerPartial" />







@RenderSection("scripts", required: false)

</html>
