@model seguimiento.Models.Configuracion

@{
    ViewData["Title"] = "Configuración general";
    ViewData["Subtitle"] = "Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
    <div class="form-group row">
        <label asp-for="anoInicial" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="anoInicial" class="form-control" />
            <span asp-validation-for="anoInicial" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="anoFinal" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="anoFinal" class="form-control" />
            <span asp-validation-for="anoFinal" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="periodosAnuales" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="periodosAnuales" class="form-control" />
            <span asp-validation-for="periodosAnuales" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="nombrePeriodoAnual" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="nombrePeriodoAnual" class="form-control" />
            <span asp-validation-for="nombrePeriodoAnual" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Logo" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Logo" class="form-control" />
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImgHeader" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ImgHeader" class="form-control" />
            <span asp-validation-for="ImgHeader" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImgBackgroud" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ImgBackgroud" class="form-control" />
            <span asp-validation-for="ImgBackgroud" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="contacto" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="contacto" class="form-control" />
            <span asp-validation-for="contacto" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Entidad" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Entidad" class="form-control" />
            <span asp-validation-for="Entidad" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NombrePlan" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="NombrePlan" class="form-control" />
            <span asp-validation-for="NombrePlan" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PonderacionTipo" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="PonderacionTipo" class="form-control" />
            <span asp-validation-for="PonderacionTipo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CalculoNivel" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="CalculoNivel" class="form-control" />
            <span asp-validation-for="CalculoNivel" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="activo" />
                <label asp-for="activo" class="custom-control-label"></label>
            </div>
        </div>
    </div>
    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="libre" />
                <label asp-for="libre" class="custom-control-label"></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index2" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>
</form>

