
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Panel de configuración</h2>
<p>
    Realice las modificaciones con mucho cuidado, los cambios se verean de forma inmediata en la herramienta
</p>


