@model seguimiento.Models.Periodo

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Periodos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var listaTipos = (SelectList)ViewBag.Tipos;
}
<h4>Nuevo periodo</h4>
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>

    <div class="form-group row">
        <label asp-for="orden" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="orden" class="form-control" />
            <span asp-validation-for="orden" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="nombre" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="nombre" class="form-control" />
            <span asp-validation-for="nombre" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="tipo" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <select asp-for="tipo" asp-items="@listaTipos" class="form-control"></select>
            <span asp-validation-for="tipo" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="calculo" />
                <label asp-for="calculo" class="custom-control-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="cargado" />
                <label asp-for="cargado" class="custom-control-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="Ocultar" />
                <label asp-for="Ocultar" class="custom-control-label"></label>
            </div>
        </div>
    </div>
    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="desplegado" />
                <label asp-for="desplegado" class="custom-control-label"></label>
            </div>
        </div>
    </div>


    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="EditarProgramacion" />
                <label asp-for="EditarProgramacion" class="custom-control-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="EditarEjecucion" />
                <label asp-for="EditarEjecucion" class="custom-control-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>
</form>



